<?xml version="1.0" encoding="ISO-8859-1"?>
<data>
	<config
		APP_WIDTH = "980"
		APP_HEIGHT = "580"
		APP_ALIGN = "TOP"
		APP_PADDING = "0,0,0,0"
		CSS_PATH = "media/stylesheets/en/as3.css"
		NAV_PATH = "media/xml/en/navigation.xml"
		AUDIO_PATH = "media/xml/en/audio.xml"
		RSL_PATH = "media/lib/"
		RSL_LIST = ""
		NAME_SPACE = "com.client.sitename"
		DEFAULT_LOG_LEVEL = "ERROR"
		IS_DEV = "true"
		INTERNAL_ERROR_VIEW = "com.client.sitename.areas.error.ErrorView"
	>
	</config>
	<settings>
	</settings>
</data>